.container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

.Card {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.oneCard {
  display: flex;
  padding-top: 30px;
  width: 300px;
  height: 650px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
